[flake8]
application-import-names = github_release_fetcher, tests
docstring-convention = google
ignore = ANN101,E203,W503
import-order-style = google
max-complexity = 10
max-line-length = 88
per-file-ignores = tests/*:S101
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,N,S,W
